.nav-link:hover{
    color: rgba(64, 180, 79, 0.788) !important;
}
.dropdown-item:hover{
    color: rgba(64, 180, 79, 0.788) !important;
}
.navbar{
    box-shadow: 3px 3px 5px grey !important;
}
.form-area{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.left{
    margin-top: 120px !important;
}
.contact-text h1{
    font-size: 60px;
}
.size{
    transition: all 0.3s !important;
}
.size:hover{
    transform: scale(1.15) !important;
}